
.claude
.idea
.env

job_track_now-api/.idea
job_track_now-api/.venv
job_track_now-api/.env

job_track_now-api/build
job_track_now-api/dist
job_track_now-api/job_docs
job_track_now-api/node_modules
job_track_now-api/venv

job_track_now-portal/.env

job_track_now-portal/build
job_track_now-portal/node_modules